
    <div class="content-block__name">
        {{'USER_DETAILS.CHANGE_PASSWORD'|translate}}
    </div>

    <div class="content-block__content">
        <label class="user-details__input-field input-field">
            <span class="input-field__label">{{'USER_DETAILS.OLD_PASSWORD'|translate}}</span>
            <input type="text" class="password" [(ngModel)]="oldPassword"/>
        </label>

        <label class="user-details__input-field input-field">
            <span class="input-field__label">{{'USER_DETAILS.OLD_PASSWORD2'|translate}}</span>
            <input type="text" class="password" [(ngModel)]="confirmOldPassword"/>
        </label>

        <label class="user-details__input-field input-field">
            <span class="input-field__label">{{'USER_DETAILS.NEW_PASSWORD'|translate}}</span>
            <input type="text" class="password" [(ngModel)]="newPassword"/>
        </label>

        <div class="user-details__buttons buttons-container">
            <button data-css-type="large"
                    (click)="changePassword()"
            >{{'USER_DETAILS.CHANGE_PASSWORD'|translate}}
            </button>
        </div>
    </div>
