<header class="header">
    <div class="header__wrapper" data-container>
        <div class="header__logo">
            <a [routerLink]="['']">
                <img src="./assets/nano-inf-b.png" alt="">
            </a>
        </div>

        <nav *ngIf="!isAdmin" class="header__nav">
            <a
                [routerLink]="['', 'news']"
                [routerLinkActive]="['active']"
                class="header__link"
            >{{'NAVIGATION.NEWS' | translate}}</a>
            <a
                [routerLink]="['', 'deposit']"
                [routerLinkActive]="['active']"
                class="header__link"
            >{{'NAVIGATION.DEPOSITS' | translate}}</a>
            <a
                [routerLink]="['', 'team']"
                [routerLinkActive]="['active']"
                class="header__link"
            >{{'NAVIGATION.TEAM' | translate}}</a>
            <a
                [routerLink]="['', 'account']"
                [routerLinkActive]="['active']"
                class="header__link"
            >{{'NAVIGATION.ACCOUNT' | translate}}</a>
            <a
                [routerLink]="['', 'user-details']"
                [routerLinkActive]="['active']"
                class="header__link"
            >{{'NAVIGATION.USER_DETAILS' | translate}}</a>
            <a
                [routerLink]="['', 'about-company']"
                [routerLinkActive]="['active']"
                class="header__link"
            >{{'NAVIGATION.ABOUT_COMPANY' | translate}}</a>
            <a
                [routerLink]="['', 'contacts']"
                [routerLinkActive]="['active']"
                class="header__link"
            >{{'NAVIGATION.CONTACTS' | translate}}</a>
        </nav>
        <div class="header__controllers">
            <div class="unselectable">{{username}}</div>
            <button
                class="header__logout ic-logout"
                [attr.data-tooltip]="'NAVIGATION.LOGOUT' | translate"
                (click)="logout()"
            ></button>

            <app-language-select></app-language-select>
        </div>
    </div>
    <app-currency-marquee></app-currency-marquee>
</header>
