<footer class="footer">
    <div class="footer__wrapper" data-container>
        <div class="footer__logo">
            <img src="../assets/footer-logo.png" alt="">
        </div>
        <div class="footer__links">
            <a
                [routerLink]="['', 'news']"
                class="footer__link"
            >{{'NAVIGATION.NEWS' | translate}}</a>
            <a
                [routerLink]="['', 'deposit']"
                class="footer__link"
            >{{'NAVIGATION.DEPOSITS' | translate}}</a>
            <a
                [routerLink]="['', 'team']"
                class="footer__link"
            >{{'NAVIGATION.TEAM' | translate}}</a>
        </div>
        <div class="footer__copyright">Copyright ©2018-2019</div>
    </div>
</footer>
