<div id="wrapper" data-wrapper>
    <app-header></app-header>

    <div data-content>
        <div class="user-details">
            <div class="user-details__wrapper" data-container>
                <div class="aside-container">
                    <div class="aside-container__aside">
                        <button data-css-type="aside"
                            (click)="showAccountSettings()"
                            [attr.data-css-state]="accountSettingsState ? 'active' : ''"
                        >
                            {{'USER_DETAILS.BASE_SETTINGS'|translate}}
                        </button>

                        <button data-css-type="aside"
                            (click)="showAvatarSettings()"
                            [attr.data-css-state]="avatarSettingsState ? 'active' : ''"
                        >
                            {{'USER_DETAILS.CHANGE_AVATAR'|translate}}
                        </button>

                        <button data-css-type="aside"
                            (click)="showChangePassword()"
                            [attr.data-css-state]="changePasswordState ? 'active' : ''"
                        >
                            {{'USER_DETAILS.CHANGE_PASSWORD'|translate}}
                        </button>
                    </div>

                    <div class="aside-container__content unselectable">
                        <!-- Base Account Settings -->
                        <div class="user-details__content-block content-block"
                            *ngIf="accountSettingsState"
                        >
                            <app-account-settings [userDetailsComponent]="this"></app-account-settings>
                        </div>

                        <!-- Change Avatar -->
                        <div class="user-details__content-block content-block"
                            *ngIf="avatarSettingsState"
                        >
                            <app-change-avatar [userDetailsComponent]="this"></app-change-avatar>
                        </div>

                        <!-- Change Password -->
                        <div class="user-details__content-block content-block" *ngIf="changePasswordState">
                            <app-change-password [userDetailsComponent]="this"></app-change-password>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
