<div class="sing-in">
    <div class="sing-in__wrapper">

        <div class="sing-in__logo">
            <img src="./assets/logo-text.png" alt="" class="sing-in__img">
        </div>

        <form
            class="sing-in__form"
            [formGroup]="registrationForm"
            (ngSubmit)="register()"
        >
            <div class="sing-in__input-field input-field" *ngIf="showReferralId">
                <input
                    formControlName="parentReferralId"
                    type="text"
                    disabled
                >
            </div>

            <div class="sing-in__input-field input-field">
                <input formControlName="email" type="email" email placeholder="{{'REGISTER.FORM.EMAIL' | translate}}">
            </div>
            <div class="sing-in__input-field input-field">
                <input formControlName="username" type="text" placeholder="{{'REGISTER.FORM.USERNAME' | translate}}">
            </div>

            <div class="sing-in__input-field input-field">
                <input formControlName="password" required type="password"
                       placeholder="{{'REGISTER.FORM.PASSWORD' | translate}}">
            </div>

            <button
                class="sing-in__button"
                type="submit"
                data-css-type="large"
                [disabled]="!registrationForm.valid"
            >
                {{'REGISTER.FORM.REGISTER_ACTION' | translate}}
            </button>
        </form>
    </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
