<svg:g [attr.transform]="'translate(' + node.x + ',' + node.y + ')'"
       onmouseover="" style="cursor: pointer;"
       (click)="showDetails(node.id)"
       id="{{node.id}}" >
  <svg:clipPath id="circleView">
    <svg:circle
          class="node"
          cx="100"
          cy="50"
          [attr.r]="50"  />
  </svg:clipPath>
  <image width="200" height="100"
         [attr.xlink:href]="node.teamMember.imagePath == '' ? '../assets/unknown_user.jpg' : node.teamMember.imagePath" clip-path="url(#circleView)" />
    <text x="10" y="10" class="graph-text">{{node.teamMember.username}}</text>
    <text x="10" y="30" class="graph-text">{{'TEAM.LEVEL'|translate}}: {{node.teamMember.level}}</text>
</svg:g>
