<div class="content-block">
    <div class="content-block__name unselectable">
        {{'TEAM.TEAM_LEVEL_TURNOVER_PERCENTAGE_RULE.TITLE'|translate}}
    </div>

    <div class="team__content-block content-block__content" data-css-type="scroll">
        <div class="info-block"
             *ngFor="let teamLevelTurnoverPercentageRule of teamInfo.teamLevelTurnoverPercentageRules"

        >
            <div class="info-block__item">
                <div class="info-block__name unselectable">
                    {{'TEAM.TEAM_LEVEL_TURNOVER_PERCENTAGE_RULE.LEVEL'|translate}}:
                </div>
                <div class="info-block__value unselectable">
                    {{teamLevelTurnoverPercentageRule.teamLineBonusLevelId}}
                </div>
            </div>

            <div class="info-block__item">
                <div class="info-block__name unselectable">
                    {{'TEAM.TEAM_LEVEL_TURNOVER_PERCENTAGE_RULE.COEFFICIENT'|translate}}:
                </div>
                <div class="info-block__value unselectable">
                    {{teamLevelTurnoverPercentageRule.percentage}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-block">
    <div class="content-block__name unselectable">
        {{'TEAM.TEAM_LINE_BONUS_RULES'|translate}}
    </div>

    <div class="team__content-block content-block__content" data-css-type="scroll">
        <div class="info-block" style="cursor: pointer;"
             *ngFor="let teamLineBonusRule of teamInfo.teamLineBonusRules"
             (click)="showTeamLineBonusLevels(teamLineBonusRule.line, teamLineBonusRule.teamLineBonusLevels)"
        >
            <div class="info-block__item">
                <div class="info-block__name">
                    {{'TEAM.TEAM_LINE_BONUS_RULE.LINE'|translate}}:
                </div>
                <div class="info-block__value">
                    {{teamLineBonusRule.line}}
                </div>
            </div>

            <div class="info-block__item">
                <div class="info-block__name">
                    {{'TEAM.TEAM_LINE_BONUS_RULE.NAME'|translate}}:
                </div>
                <div class="info-block__value">
                    {{teamLineBonusRule.name}}
                </div>
            </div>

            <div class="info-block__item">
                <div class="info-block__name">
                    {{'TEAM.TEAM_LINE_BONUS_RULE.PERSONAL_DEPOSIT_SUM'|translate}}:
                </div>
                <div class="info-block__value">
                    {{teamLineBonusRule.personalDepositSum}}
                </div>
            </div>

            <div class="info-block__item">
                <div class="info-block__name">
                    {{'TEAM.TEAM_LINE_BONUS_RULE.TOTAL_TURNOVER'|translate}}:
                </div>
                <div class="info-block__value">
                    {{teamLineBonusRule.totalTurnover}}
                </div>
            </div>
        </div>
    </div>
</div>
