<div class="private-account__content-block content-block">
    <div class="content-block__name">{{'ACCOUNT.TRANSACTION.EXECUTE_TRANSACTION'|translate}}</div>

    <div class="content-block__content">
        <label class="private-account__input-field input-field">
            <span class="input-field__label">{{'ACCOUNT.TRANSACTION.TO_ACCOUNT_ID'|translate}}</span>
            <input type="text" [(ngModel)]="transaction.to">
        </label>

        <label class="private-account__input-field input-field">
            <span class="input-field__label">{{'ACCOUNT.TRANSACTION.AMOUNT'|translate}}</span>
            <input type="number" min="0" max="{{accountComponent.account.balance}}" [(ngModel)]="transaction.amount"/>
        </label>

        <label class="private-account__input-field input-field">
            <span class="input-field__label">{{'ACCOUNT.TRANSACTION.MESSAGE'|translate}}</span>
            <input type="text" [(ngModel)]=" transaction.message"/>
        </label>

        <label class="private-account__input-field input-field">
            <span class="input-field__label">{{'ACCOUNT.TRANSACTION.PIN'|translate}}</span>
            <input type="text" class="password" [(ngModel)]="transaction.pinCode"/>
        </label>

        <div class="private-account__buttons">
            <button (click)="executeTransaction()" data-css-type="large">
                {{'ACCOUNT.TRANSACTION.EXECUTE_TRANSACTION'|translate}}
            </button>
        </div>
    </div>
</div>

<div class="private-account__content-block content-block"
     *ngIf="incomingTransactions.length > 0 || outcomingTransactions.length > 0"
>
    <div class="content-block__name">{{'ACCOUNT.TRANSACTION.INFORMATION'|translate}}</div>

    <div class="content-block__content">
        <div class="private-account__transactions">
            <div class="private-account__transaction-block transaction-block">
                <div
                    class="transaction-block__title"
                    data-css-type="incoming"
                >
                    <span data-css-arrow></span>
                    {{'ACCOUNT.TRANSACTION.INCOMING_TRANSACTIONS'|translate}}
                </div>

                <div class="transaction-block__list">
                    <div
                        class="transaction-block__container"
                        *ngFor="let incomingTransaction of incomingTransactions | paginate: { itemsPerPage: 4, currentPage: incomingTransactionsPage, id: 'incomingTransactionPagination' }"
                    >
                        <div class="transaction-block__fields">
                            <div class="transaction-block__field">
                                <div class="transaction-block__field-name">
                                    {{'ACCOUNT.TRANSACTION.FROM'|translate}}:
                                </div>
                                <div class="transaction-block__field-value">
                                    {{incomingTransaction.from}}
                                </div>
                            </div>

                            <div class="transaction-block__field">
                                <div class="transaction-block__field-name">
                                    {{'ACCOUNT.TRANSACTION.TO'|translate}}:
                                </div>
                                <div class="transaction-block__field-value">
                                    {{incomingTransaction.to}}
                                </div>
                            </div>

                            <div class="transaction-block__field">
                                <div class="transaction-block__field-name">
                                    {{'ACCOUNT.TRANSACTION.AMOUNT'|translate}}:
                                </div>
                                <div class="transaction-block__field-value">
                                    {{incomingTransaction.amount}}
                                </div>
                            </div>

                            <div class="transaction-block__field">
                                <div class="transaction-block__field-name">
                                    {{'ACCOUNT.TRANSACTION.MESSAGE'|translate}}:
                                </div>
                                <div class="transaction-block__field-value">
                                    {{incomingTransaction.message}}
                                </div>
                            </div>

                            <div class="transaction-block__field">
                                <div class="transaction-block__field-name">
                                    {{'ACCOUNT.TRANSACTION.TIMESTAMP'|translate}}:
                                </div>
                                <div class="transaction-block__field-value">
                                    {{incomingTransaction.timestamp}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <pagination-controls id="incomingTransactionPagination"
                        (pageChange)="incomingTransactionsPage = $event"
                        previousLabel="{{'PAGINATION.PREVIOUS_PAGE'|translate}}"
                        nextLabel="{{'PAGINATION.NEXT_PAGE'|translate}}"></pagination-controls>
                </div>
            </div>

            <div class="private-account__transaction-block transaction-block">
                <div
                    class="transaction-block__title"
                    data-css-type="outcoming"
                >
                    <span data-css-arrow></span>
                    {{'ACCOUNT.TRANSACTION.OUTCOMING_TRANSACTIONS'|translate}}
                </div>

                <div class="transaction-block__list">
                    <div
                        class="transaction-block__container"
                        *ngFor="let outcomingTransaction of outcomingTransactions | paginate: { itemsPerPage: 4, currentPage: outcomingTransactionsPage, id: 'outcomingTransactionPagination' }"
                    >
                        <div class="transaction-block__fields">
                            <div class="transaction-block__field">
                                <div class="transaction-block__field-name">
                                    {{'ACCOUNT.TRANSACTION.FROM'|translate}}:
                                </div>
                                <div class="transaction-block__field-value">
                                    {{outcomingTransaction.from}}
                                </div>
                            </div>

                            <div class="transaction-block__field">
                                <div class="transaction-block__field-name">
                                    {{'ACCOUNT.TRANSACTION.TO'|translate}}:
                                </div>
                                <div class="transaction-block__field-value">
                                    {{outcomingTransaction.to}}
                                </div>
                            </div>

                            <div class="transaction-block__field">
                                <div class="transaction-block__field-name">
                                    {{'ACCOUNT.TRANSACTION.AMOUNT'|translate}}:
                                </div>
                                <div class="transaction-block__field-value">
                                    {{outcomingTransaction.amount}}
                                </div>
                            </div>

                            <div class="transaction-block__field">
                                <div class="transaction-block__field-name">
                                    {{'ACCOUNT.TRANSACTION.MESSAGE'|translate}}:
                                </div>
                                <div class="transaction-block__field-value">
                                    {{outcomingTransaction.message}}
                                </div>
                            </div>

                            <div class="transaction-block__field">
                                <div class="transaction-block__field-name">
                                    {{'ACCOUNT.TRANSACTION.TIMESTAMP'|translate}}:
                                </div>
                                <div class="transaction-block__field-value">
                                    {{outcomingTransaction.timestamp}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <pagination-controls id="outcomingTransactionPagination"
                        (pageChange)="outcomingTransactionsPage = $event"
                        previousLabel="{{'PAGINATION.PREVIOUS_PAGE'|translate}}"
                        nextLabel="{{'PAGINATION.NEXT_PAGE'|translate}}"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
