$black: #000;
$white: #F1F1F1;

$base-color: #ffc411;
$accent-color: #73b4e8;
$gray: #313131;
$light-gray: #858585;
$error: lightcoral;
$success: lightgreen;

$icon-font: "fonts";
$ic-add-bg: "\e147";
$ic-add-border: "\e3ba";
$ic-backspace: "\e14a";
$ic-cancel: "\e5c9";
$ic-check: "\e86c";
$ic-settings: "\f02f";
$ic-logout: "\e974";
$ic-search: "\e986";
$ic-arrow-right: "\ea34";
$ic-arrow-left: "\ea38";
