<div id="wrapper" data-wrapper>
    <app-header></app-header>

    <div data-content class="text-container">
        <div class="text-container__wrapper" data-container>
            <div class="text-container__content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos enim laboriosam mollitia
                    nam nulla omnis porro quis veniam? Adipisci aut autem blanditiis corporis culpa cum dolorem
                    dolores
                    dolorum eveniet exercitationem explicabo harum impedit inventore ipsa iusto magni maiores modi
                    mollitia nobis nostrum odio odit pariatur perferendis placeat quasi quia quis repellat, rerum
                    sapiente sunt tempora unde ut veniam veritatis vero vitae voluptas. Aliquid, assumenda ea et
                    explicabo harum neque nesciunt quaerat sapiente tempore voluptate! Incidunt optio quaerat sunt
                    vel! Atque culpa cum cumque eveniet exercitationem facilis harum incidunt mollitia, nemo officia
                    repellendus sapiente sequi similique sit temporibus vero voluptas voluptates.
                </p>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>
