<div class="info-popup">
    <div class='member-card'>
        <div class='member-card_left'>
            <img
                [src]="data.node.teamMember.imagePath == '' ? '../assets/unknown_user.jpg' : data.node.teamMember.imagePath"
                alt="">
        </div>
        <div class='member-card_right'>
            <h1>{{data.node.teamMember.username}}</h1>
            <div class='member-card_right__details'>
                <div class='member-card_right__review'>
                    <p> {{'TEAM.TEAMMATE.ID'|translate}}: {{data.node.id}}
                    </p>
                    <p> {{'TEAM.TEAMMATE.EMAIL'|translate}}: {{data.node.teamMember.email}}
                    </p>
                    <p> {{'TEAM.TEAMMATE.PARENT_EMAIL'|translate}}: {{data.node.teamMember.parentEmail}}
                    </p>
                    <p> {{'TEAM.TEAMMATE.NAME'|translate}}: {{data.node.teamMember.name}}
                    </p>
                    <p> {{'TEAM.TEAMMATE.SURNAME'|translate}}: {{data.node.teamMember.surname}}
                    </p>
                    <p> {{'TEAM.TEAMMATE.CONTACT_NUMBER'|translate}}: {{data.node.teamMember.contactNumber}}
                    </p>
                    <p> {{'TEAM.TEAMMATE.CONTACT_NUMBER2'|translate}}: {{data.node.teamMember.contactNumber2}}
                    </p>
                    <mat-dialog-actions>
                        <button (click)="onCloseConfirm()">{{'TEAM.TEAMMATE.CLOSE_BUTTON'|translate}}</button>
                    </mat-dialog-actions>
                </div>
            </div>
        </div>
    </div>
</div>


