<div class="login-page">
    <div class="login-page__wrapper">
        <div class="login-page__container sing-in">
            <button
                class="login-page__button button"
                (click)="openRegistrationForm()"
                data-css-type="large"
            >
                {{'LOGIN.LINK_TO_REGISTER' | translate}}
            </button>

            <div
                class="login-page__sing-in"
                [@openRegistrationForm]="registrationState"
            >
                <app-registration [loginComponent]="this"></app-registration>
            </div>
        </div>

        <div class="login-page__container log-in">
            <div class="login-page__lang-chooser">
                <app-language-select></app-language-select>
            </div>

            <div class="login-page__logo">
                <img src="./assets/nano-inf-b.png" alt="">
            </div>
            <form
                class="login-page__form"
                [formGroup]="loginForm"
                (ngSubmit)="login()"
            >
                <div class="login-page__input-field input-field">
                    <input
                        formControlName="email"
                        email
                        type="email"
                        placeholder="{{'LOGIN.FORM.EMAIL' | translate}}"
                    >
                </div>

                <div class="login-page__input-field input-field">
                    <input
                        formControlName="password"
                        type="password"
                        placeholder="{{'LOGIN.FORM.PASSWORD' | translate}}"
                        required
                    >
                </div>

                <div
                    class="login-page__input-field input-field"
                    [@showPinField]="askedForPin"
                >
`                    <input class="password"
                        formControlName="pinCode"
                        placeholder="{{'LOGIN.FORM.ENTER_PIN' | translate}}"
                    >
                </div>
                <!--<div style="color:#f44242">{{'LOGIN.FORM.ALLOW_COOKIES' | translate}}</div>-->
                <div class="login-page__buttons">
                    <button
                        class="login-page__button"
                        type="submit"
                        [disabled]="!loginForm.valid"
                        data-css-type="large"
                    >
                        {{'LOGIN.FORM.LOGIN_ACTION' | translate}}
                    </button>
                    <div class="login-page__support-buttons">
                        <button
                            (click)="$event.preventDefault();sendCode();"
                            [@showButtons]="askedForPin"
                            data-css-type="support"
                        >
                            {{'LOGIN.RESEND_PIN' | translate}}
                        </button>
                        <button
                            (click)="$event.preventDefault();restorePassword()"
                            [@showButtons]="wrongEmailPassword"
                            data-css-type="support"
                        >
                            {{'LOGIN.RESTORE_PASSWORD' | translate}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
