.buttons-container {
  margin-top: 2.5rem;

  &[data-css-offset~=medium] {
    margin-top: 1.8rem;
  }

  &[data-css-offset~=small] {
    margin-top: 1rem;
  }

}

button, .button {
  border: none;
  cursor: pointer;
  transition: all .3s;
  text-decoration: none;
  background-color: transparent;
  position: relative;

  &:focus {
    outline: none;
  }

  &[data-css-type~="large"] {
    min-width: 200px;
    padding: 1rem 1.4rem;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    color: $gray;
    background-color: $base-color;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($white, .5);
      transform: rotate(-45deg) translate(-50%, -300%);
      visibility: hidden;
      transition: transform .5s, visibility 0s;
      pointer-events: none;
    }

    &:hover {
      &::before {
        transform: rotate(-45deg) translate(50%, 300%);
        visibility: visible;
      }
    }

    &[disabled] {
      color: lighten($light-gray, 10%);
      background-color: lighten($light-gray, 35%);
      cursor: default;

      &::before {
        display: none;
      }
    }
  }

  &[data-css-type~="support"] {
    font-size: 1em;
    color: $accent-color;
    overflow: hidden;

    & + & {
      margin-left: .5rem;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: currentColor;
      width: 100%;
      height: 2px;
      opacity: 0;
      transition: opacity .3s;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  &[data-css-type~="type-toggle"] {
    width: 100%;
    border: 1px solid currentColor;
    padding: .35rem .5rem .3rem;
    transition: border-color .3s;

    & + & {
      margin-left: 0;
      margin-top: .5rem;
    }

    &:hover {
      &[data-css-state~="unlock"] {
        border-color: $success;
      }

      &[data-css-state~="lock"] {
        border-color: $error;
      }
    }

    &::before {
      display: none;
    }
  }

  &[data-css-type="aside"] {
    display: block;
    width: 100%;
    color: $white;
    font-size: 1em;
    line-height: 1.2;
    padding: 1rem 3rem;
    text-align: left;

    &:hover {
      &::before {
        transform: translate(0);
      }
    }

    &[data-css-state~=active] {
      &::after, &::before {
        transform: translate(0);
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 100%;
      background-color: $base-color;
      transform: translate(-100%, 0);
      transition: transform .3s;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 4px;
      background-color: $base-color;
      transform: translate(100%, 0);
      transition: transform .2s ease-in-out;
      will-change: transform;
    }
  }

  &[data-css-type~="icon"] {
    font-size: 1.5em;
    color: $gray;

    &.active {
      color: $base-color;
    }
  }

  &[data-css-color~="red"] {
    color: $error;
  }

  &[data-css-color~="green"] {
    color: $success;
  }
}

.btnclear.btnclearenabled.ng-star-inserted {
  background-color: #f2f2f2!important;
  border: 1px solid;
}
.btnpicker.btnpickerenabled {
  background-color: #f2f2f2!important;
}
