@font-face {
  font-family: 'nanocoin';
  src: url('./assets/fonts/icons/nanocoin.eot?ieqb7n');
  src: url('./assets/fonts/icons/nanocoin.eot?ieqb7n#iefix') format('embedded-opentype'),
  url('./assets/fonts/icons/nanocoin.ttf?ieqb7n') format('truetype'),
  url('./assets/fonts/icons/nanocoin.woff?ieqb7n') format('woff'),
  url('./assets/fonts/icons/nanocoin.svg?ieqb7n#nanocoin') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ic-"], [class*=" ic-"] {
  font-family: 'nanocoin' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-add-bg {
  &:before {
    content: $ic-add-bg;
  }
}

.ic-add-border {
  &:before {
    content: $ic-add-border;
  }
}

.ic-backspace {
  &:before {
    content: $ic-backspace;
  }
}

.ic-cancel {
  &:before {
    content: $ic-cancel;
  }
}

.ic-check {
  &:before {
    content: $ic-check;
  }
}

.ic-settings {
  &:before {
    content: $ic-settings;
  }
}

.ic-logout {
  &:before {
    content: $ic-logout;
  }
}

.ic-search {
  &:before {
    content: $ic-search;
  }
}

.ic-arrow-right {
  &:before {
    content: $ic-arrow-right;
  }
}

.ic-arrow-left {
  &:before {
    content: $ic-arrow-left;
  }
}

