.member-card {
  overflow: hidden!important;
  width: 600px !important;
  height: 300px !important;
  position:absolute!important;
  left: 0 !important;
  right: 0 !important;
  margin:auto!important;
  top: 0 !important;
  bottom: 0 !important;
  border-radius:10px!important;
  -webkit-border-radius:10px!important;
  -moz-border-radius:10px!important;
  box-shadow: 0px 20px 30px 3px $gray!important;
  &_left {
    width:50%;
    height:300px;
    float:left;
    overflow:hidden;
    background:transparent;
    img {
      width:100%;
      height:auto;
      border-radius:10px 0 0 10px;
      -webkit-border-radius:10px 0 0 10px;
      -moz-border-radius:10px 0 0 10px;
      position:relative;
    }
  }
  &_right {
    position: relative;
    overflow:auto;
    width:50%;
    float:left;
    background:$gray;
    height:300px;
    border-radius:0 10px 10px 0;
    -webkit-border-radius:0 10px 10px 0;
    -moz-border-radius:0 10px 10px 0;
    h1 {
      color:white;
      font-family: 'Montserrat', sans-serif;
      font-weight:400;
      text-align:left;
      font-size:40px;
      margin:30px 0 0 0;
      padding:0 0 0 40px;
      letter-spacing:1px;
    }
    &__review {
      p {
        color:white;
        font-family: 'Montserrat', sans-serif;
        font-size:12px;
        padding:0 0 0 40px;
        margin:10px 0 10px 0;
      }
      button {
        text-decoration:none;
        font-family: 'Montserrat', sans-serif;
        font-size:14px;
        padding:0 0 0 40px;
        color:$base-color;
        margin:0;
      }
    }
  }
  &_close {
    color:#ffc411;
    padding: 0 0 0 40px;
  }
}

