input {
  width: 100%!important;
  padding: .4rem!important;
  font-size: 1.1em!important;
  color: $black!important;
  border: 1px solid $gray!important;
  background-color: #f2f2f2!important;
  transition: all .3s!important;

  &:focus {
    outline: none;
    border: 2px solid $base-color!important;
    box-shadow: 0 1px 0 0 $base-color!important;
  }

  &[disabled] {
    color: darken($light-gray, 15%);
    background-color: lighten($light-gray, 30%);
    border-color: $light-gray;
    cursor: default;
  }
}

textarea {
  width: 100%;
  padding: .8rem;
  font-size: 1em;
  color: $black;
  border: 1px solid $gray;
  background-color: #f2f2f2;
  transition: all .3s;
  resize: none;
  height: 100px;

  &:focus {
    outline: none;
    background-color: $white;
    box-shadow: 0 0 0 2px lighten($base-color, 25%);
  }
}

.input-field {
  display: block;

  & + & {
    margin-top: 1rem;

    &[data-css-type~=select] {
      margin-top: 1.8rem;
    }
  }

  &__label {
    font-size: 1em;
    line-height: 1.2;
    color: $black;
    margin-bottom: .5rem;
    display: block;
    cursor: pointer;
    white-space: nowrap;
  }

  &[data-css-type~=select] {
    display: flex;
    align-items: center;

    .input-field__label {
      margin-bottom: 0;
    }

    .input-field__select {
      padding-left: 2rem;

      .smarty-select {
        &[data-state~=open] {
          .smarty-select__button {
            &::after {
              transform: translate(-50%) rotate(-135deg);
            }
          }
        }

        &__button {
          min-width: 150px;
          padding: .8rem 2rem .8rem .8rem;
          font-size: 1em;
          color: $black;
          border: 1px solid lighten($base-color, 25%);
          background-color: lighten($base-color, 42%);

          &::after {
            top: 38%;
            transform: translate(-50%) rotate(45deg);
          }
        }

        &__dropdown-menu {
          border: none;
        }

        &__option {
          background-color: $gray;
          color: $white;
          padding: .8rem 2rem .8rem .8rem;
          position: relative;
          overflow: hidden;

          &:hover {
            &::after {
              transform: translate(0);
            }
          }

          &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 6px;
            top: 0;
            right: 0;
            background-color: lighten($base-color, 25%);
            transform: translate(100%, 0);
            transition: transform .3s;
          }
        }
      }
    }
  }

  &[data-css-type~="inline"] {
    display: flex;
    align-items: baseline;
    margin-top: .5rem;

    .input-field__label {
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: 0;
    }

    .input-field__select {
      padding-left: 0;
    }

    input {
      display: inline-block;
      padding: .1rem .3rem;
      width: 250px;

      &:focus {
        outline: none;
        background-color: transparent;
      }
    }

    .mat-select-trigger {
      padding: .1rem .3rem;
    }
  }

  &__range-slider {
    $slider-height: 13px;
    margin-right: 1rem;

    .mat-slider-horizontal {
      height: $slider-height;
      padding: 0;

      .mat-slider-wrapper {
        position: relative;
        width: 300px;
        top: 50%;
        height: $slider-height + 4px;
        border-radius: 30px;
        transform: translate(0, -50%);
        left: 0;
        right: 0;
      }

      .mat-slider-track-wrapper, .mat-slider-track-background {
        height: $slider-height;
        background-color: $gray;
        border-radius: 30px;
      }

      .mat-slider-track-fill {
        border-radius: 30px;
        height: $slider-height;
        background-size: 2em 2em;
        background: repeating-linear-gradient(
            -55deg,
            #222,
            #222 10px,
            #333 10px,
            #333 20px
        );
        background-size: auto;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
        -webkit-transform: none;
        transform: none;
      }

      .mat-slider-thumb {
        background-color: $base-color;
        transform: scale(1) !important;
      }
    }
  }

  > button {
    margin-top: 1rem;
  }
}
