.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;

  .ngx-pagination {
    user-select: none;

    li {
      color: $white;
      background-color: $gray;
      
      > a {
        transition: all .3s;
        color: currentColor;
        
        &:hover {
          color: $base-color;
          background-color: transparent;
        }
      }

      &.current {
        color: $gray;
        background-color: $base-color;
      }

      &.pagination-next {
        color: $gray;
        background-color: transparent;

        &.disabled {
          color: lighten($gray, 50%);
        }
      }

      &.pagination-previous {
        color: $gray;
        background-color: transparent;

        &.disabled {
          color: lighten($gray, 50%);
        }
      }
    }
  }
}
