.text-container {
  &__wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__content {
    max-width: 800px;
    margin: 0 auto;

    p {
      color: $black;
      font-size: 1.2em;
      line-height: 1.4;
    }
  }
}
