<div class="info-popup">
    <div class='member-card'>
        <div class='member-card_left'>
            <img
                src="./assets/lines/{{data.line}}.png"
                alt="">
        </div>
        <div class='member-card_right'>
            <div class="member-card_right__details"
                 data-css-type="inline"
                 *ngFor="let teamLineBonusLevel of data.teamLineBonusLevels"
            >
                <div class="member-card_right__review">
                    <p>{{'TEAM.TEAM_LINE_BONUS_LEVEL.LEVEL'|translate}}: {{teamLineBonusLevel.level}}, {{'TEAM.TEAM_LINE_BONUS_LEVEL.PERCENTAGE'|translate}}: {{teamLineBonusLevel.percentage}}</p>
                </div>
            </div>

            <mat-dialog-actions>
                <button (click)="onCloseConfirm()" class="member-card_close">{{'TEAM.TEAMMATE.CLOSE_BUTTON'|translate}}</button>
            </mat-dialog-actions>
        </div>
    </div>
</div>


