<div id="wrapper" data-wrapper>

    <app-header></app-header>

    <div class="deposits" data-content>
        <div class="deposits__wrapper" data-container>
            <div class="aside-container">
                <div class="aside-container__aside">
                    <button (click)="createDepositAction()"
                        [attr.data-css-state]="createDeposit ? 'active' : ''"
                        data-css-type="aside"
                    >{{'DEPOSIT.CREATE'|translate}}</button>
                    <button (click)="showActiveDepositsAction()"
                        [attr.data-css-state]="showActiveDeposits ? 'active' : ''"
                        data-css-type="aside"
                    >{{'DEPOSIT.SHOW_ACTIVE'|translate}}</button>
                    <button (click)="showClosedDepositsAction()"
                        [attr.data-css-state]="showClosedDeposits ? 'active' : ''"
                        data-css-type="aside"
                    >{{'DEPOSIT.SHOW_CLOSED'|translate}}</button>
                </div>

                <div class="aside-container__content">
                    <!-- Active Deposits -->
                    <div class="content-block" *ngIf="showActiveDeposits || showClosedDeposits">
                        <div class="content-block__name"
                            *ngIf="showActiveDeposits"
                        >
                            {{ 'DEPOSIT.ACTIVE_DEPOSITS'|translate }}
                        </div>

                        <div class="content-block__name"
                            *ngIf="showClosedDeposits"
                        >
                            {{ 'DEPOSIT.CLOSED_DEPOSITS'|translate }}
                        </div>

                        <div class="content-block__content">
                            <div class="private-account__transaction-block transaction-block"
                                data-css-size="full-width"
                            >
                                <div class="transaction-block__list">
                                    <div class="transaction-block__container"
                                        *ngFor="let deposit of (showActiveDeposits ? activeDeposits : closedDeposits) | paginate: { itemsPerPage: 4, currentPage: p }"
                                    >

                                        <div class="transaction-block__fields">
                                            <div class="transaction-block__field">
                                                <div class="transaction-block__field-name">
                                                    {{'DEPOSIT.NAME'|translate}}:
                                                </div>
                                                <div class="transaction-block__field-value">
                                                    {{deposit.depositName}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="transaction-block__fields">
                                            <div class="transaction-block__field">
                                                <div class="transaction-block__field-name">
                                                    {{'DEPOSIT.INVESTITION_ID'|translate}}:
                                                </div>
                                                <div class="transaction-block__field-value">
                                                    {{deposit.depositId}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="transaction-block__fields">
                                            <div class="transaction-block__field">
                                                <div class="transaction-block__field-name">
                                                    {{'DEPOSIT.INVESTITION_PAYMENT_METHOD'|translate}}:
                                                </div>
                                                <div class="transaction-block__field-value">
                                                    {{deposit.paymentMethod}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="transaction-block__fields">
                                            <div class="transaction-block__field">
                                                <div class="transaction-block__field-name">
                                                    {{'DEPOSIT.SUM'|translate}}:
                                                </div>
                                                <div class="transaction-block__field-value">
                                                    {{deposit.sum}} {{deposit.currency}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="transaction-block__fields">
                                            <div class="transaction-block__field">
                                                <div class="transaction-block__field-name">
                                                    {{'DEPOSIT.DAYS_TO_END'|translate}}:
                                                </div>
                                                <div class="transaction-block__field-value">
                                                    {{depositSerivce.getDaysDiffStr(deposit.endDate)}}
                                                </div>
                                             </div>
                                        </div>

                                        <div class="transaction-block__fields">
                                            <div class="transaction-block__field">
                                                <div class="transaction-block__field-name">
                                                    {{'DEPOSIT.MONEY_RECEIVED'|translate}}:
                                                </div>
                                                <div class="transaction-block__field-value">
                                                    {{deposit.moneyReceived}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="transaction-block__fields">
                                            <div class="transaction-block__field">
                                                <div class="transaction-block__field-name">
                                                    {{'DEPOSIT.START_DATE'|translate}}:
                                                </div>
                                                <div class="transaction-block__field-value">
                                                    {{deposit.startDate}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="transaction-block__fields">
                                            <div class="transaction-block__field">
                                                <div class="transaction-block__field-name">
                                                    {{'DEPOSIT.END_DATE'|translate}}:
                                                </div>
                                                <div class="transaction-block__field-value">
                                                    {{deposit.endDate}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pagination">
                                <pagination-controls
                                    (pageChange)="p = $event"
                                    previousLabel="{{'PAGINATION.PREVIOUS_PAGE'|translate}}"
                                    nextLabel="{{'PAGINATION.NEXT_PAGE'|translate}}"
                                ></pagination-controls>
                            </div>
                        </div>
                    </div>

                    <!-- Create Deposits -->
                    <div class="deposits__create" *ngIf='createDeposit'>
                        <app-create-deposit [depositComponent]="this"></app-create-deposit>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
