<div id="wrapper" data-wrapper>
    <app-header></app-header>

    <div data-content>
        <div class="admin">
            <div class="admin__wrapper" data-container>
                <div class="aside-container">
                    <div class="aside-container__aside">
                        <button
                            (click)="showWithdrawalsAction()"
                            data-css-type="aside"
                            [attr.data-css-state]="showWithdrawals ? 'active' : ''"
                        >{{'ADMIN.WITHDRAWALS'|translate}}
                        </button>
                        <button
                            (click)="showUsersAction()"
                            data-css-type="aside"
                            [attr.data-css-state]="showUsers ? 'active' : ''"
                        >{{'ADMIN.USERS'|translate}}
                        </button>
                        <button
                            (click)="showNewsAction()"
                            data-css-type="aside"
                            [attr.data-css-state]="showNews ? 'active' : ''"
                        >{{'ADMIN.NEWS.NEWS'|translate}}
                        </button>
                        <button
                            (click)="showSettingsAction()"
                            data-css-type="aside"
                            [attr.data-css-state]="showSettings ? 'active' : ''"
                        >{{'ADMIN.SETTINGS.SHOW_SETTINGS'|translate}}
                        </button>
                    </div>

                    <div class="aside-container__content">
                        <div class="admin__withdrawals content-block" *ngIf="showWithdrawals">
                            <div class="content-block__name">{{'ADMIN.WITHDRAWALS'|translate}}</div>

                            <div class="content-block__content">

                                <div class="admin__transactions">
                                    <div class="admin__transaction info-block"
                                        *ngFor="let activeWithdrawal of activeWithdrawals | paginate: { itemsPerPage: 6, currentPage: activeWithdrawalsPage }"
                                    >
                                        <div class="info-block__item">
                                            <div class="info-block__name">
                                                {{'ADMIN.WITHDRAWAL.CREATION_DATE'|translate}}:
                                            </div>
                                            <div class="info-block__value">
                                                {{activeWithdrawal.creationDate}}
                                            </div>
                                        </div>

                                        <div class="info-block__item">
                                            <div class="info-block__name">
                                                {{'ADMIN.WITHDRAWAL.ACCOUNT_ID'|translate}}:
                                            </div>
                                            <div class="info-block__value">
                                                {{activeWithdrawal.accountId}}
                                            </div>
                                        </div>

                                        <div class="info-block__item">
                                            <div class="info-block__name">
                                                {{'ADMIN.WITHDRAWAL.NAME'|translate}}:
                                            </div>
                                            <div class="info-block__value">
                                                {{activeWithdrawal.userInfoDTO.name}}
                                            </div>
                                        </div>

                                        <div class="info-block__item">
                                            <div class="info-block__name">
                                                {{'ADMIN.WITHDRAWAL.SURNAME'|translate}}:
                                            </div>
                                            <div class="info-block__value">
                                                {{activeWithdrawal.userInfoDTO.surname}}
                                            </div>
                                        </div>

                                        <div class="info-block__item">
                                            <div class="info-block__name">
                                                {{'ADMIN.WITHDRAWAL.USERNAME'|translate}}:
                                            </div>
                                            <div class="info-block__value">
                                                {{activeWithdrawal.userInfoDTO.username}}
                                            </div>
                                        </div>

                                        <div class="info-block__item">
                                            <div class="info-block__name">
                                                {{'ADMIN.WITHDRAWAL.EMAIL'|translate}}:
                                            </div>
                                            <div class="info-block__value">
                                                {{activeWithdrawal.userInfoDTO.email}}
                                            </div>
                                        </div>

                                        <div class="info-block__item">
                                            <div class="info-block__name">
                                                {{'ADMIN.WITHDRAWAL.CONTACT_NUMBER'|translate}}:
                                            </div>
                                            <div class="info-block__value">
                                                {{activeWithdrawal.userInfoDTO.contactNumber}}
                                            </div>
                                        </div>

                                        <div class="info-block__item">
                                            <div class="info-block__name">
                                                {{'ADMIN.WITHDRAWAL.CONTACT_NUMBER2'|translate}}:
                                            </div>
                                            <div class="info-block__value">
                                                {{activeWithdrawal.userInfoDTO.contactNumber2}}
                                            </div>
                                        </div>

                                        <div class="info-block__item">
                                            <div class="info-block__name">
                                                {{'ADMIN.WITHDRAWAL.SUM'|translate}}:
                                            </div>
                                            <div class="info-block__value">
                                                {{activeWithdrawal.sum}}
                                            </div>
                                        </div>

                                        <div class="info-block__item">
                                            <div class="info-block__name">
                                                {{'ADMIN.WITHDRAWAL.MESSAGE_TO_OPERATOR'|translate}}:
                                            </div>
                                            <div class="info-block__value">
                                                {{activeWithdrawal.messageToOperator}}
                                            </div>
                                        </div>

                                        <div class="info-block__item">
                                            <div class="deposits__input-field input-field"
                                                data-css-type="select inline"
                                            >
                                                    <span class="input-field__label">
                                                        {{'ADMIN.WITHDRAWAL.PAYMENT_METHOD'|translate}}:
                                                    </span>

                                                <div class="input-field__select">
                                                    <mat-form-field>
                                                        <mat-select [(ngModel)]="activeWithdrawal.externalAccountType">
                                                            <mat-option *ngFor="let paymentMethod of paymentMethods"
                                                                [value]="paymentMethod"
                                                            >
                                                                {{paymentMethod}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="info-block__item">
                                            <div class="input-field" data-css-type="inline">
                                                    <span class="input-field__label">
                                                        {{'ADMIN.WITHDRAWAL.EXTERNAL_ACCOUNT_ID'|translate}}:
                                                    </span>

                                                <input type="text" [(ngModel)]="activeWithdrawal.externalAccountId"/>
                                            </div>
                                        </div>

                                        <div class="info-block__item">
                                            <div class="input-field" data-css-type="inline">
                                                    <span class="input-field__label">
                                                        {{'ADMIN.WITHDRAWAL.ADMIN_PASSWORD'|translate}}:
                                                    </span>

                                                <input type="text" class="password"
                                                    autocomplete="off"
                                                    [(ngModel)]="activeWithdrawal.password"/>
                                            </div>
                                        </div>

                                        <div class="admin__buttons buttons-container"
                                            data-css-offset="small"
                                        >
                                            <button
                                                id='{{closeWithdrawalPrefix + activeWithdrawal.withdrawalId}}'
                                                (click)="closeWithdrawalRequest($event)"
                                                data-css-type="support"
                                            >
                                                {{'ADMIN.WITHDRAWAL.CLOSE'|translate}}
                                            </button>
                                            <button
                                                id='{{cancelWithdrawalPrefix + activeWithdrawal.withdrawalId}}'
                                                (click)="cancelWithdrawalRequest($event)"
                                                data-css-type="support"
                                            >
                                                {{'ADMIN.WITHDRAWAL.CANCEL'|translate}}
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="pagination">
                                    <pagination-controls (pageChange)="activeWithdrawalsPage = $event"
                                        previousLabel="{{'PAGINATION.PREVIOUS_PAGE'|translate}}"
                                        nextLabel="{{'PAGINATION.NEXT_PAGE'|translate}}"></pagination-controls>
                                </div>
                            </div>
                        </div>

                        <div class="admin__users content-block" *ngIf="showUsers">
                            <div class="content-block__name">{{'ADMIN.USERS'|translate}}</div>

                            <div class="content-block__content">
                                <div class="user-block">
                                    <div class="user-block__users">
                                        <div class="team__search input-field">
                                            <input type="text"
                                                   placeholder="{{'TEAM.FIND_BY_USERNAME'|translate}}"
                                                   [(ngModel)]="searchUsername"/>

                                            <button (click)="findUser()"
                                                    class="team__search-button ic-search"
                                                    data-css-type="icon"
                                            ></button>
                                        </div>
                                        <div class="user-block__user" *ngFor="let user of users | paginate: { itemsPerPage: 1, currentPage: usersPage }">
                                            <div class="user-block__container">
                                                <div class="user-block__controllers">
                                                    <div class="user-block__photo">
                                                        <img [src]="user.imagePath" alt="">
                                                    </div>
                                                    <!--<div class="user-block__photo">-->
                                                    <!--<img [src]="user.passportScanPath" alt="">-->
                                                    <!--</div>-->

                                                    <div class="buttons-container" data-css-offset="small">
                                                        <button *ngIf="user.passportScanPath != ''"
                                                            (click)="showImage(user.passportScanPath)"
                                                            data-css-type="support type-toggle"
                                                        >
                                                            {{'ADMIN.USER.SHOW_PASSPORT_SCAN'|translate}}
                                                        </button>

                                                        <button
                                                            id='{{toggleLockPrefix + user.userId}}'
                                                            (click)="toggleLockAction($event)"
                                                            data-css-type="support type-toggle"
                                                            [attr.data-css-state]="user.locked ? 'unlock' : 'lock'"
                                                        >
                                                            {{ user.locked
                                                            ? ('ADMIN.USER.UNLOCK'|translate)
                                                            : ('ADMIN.USER.LOCK'|translate) }}
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="user-block__data">
                                                    <div class="user-block__info">
                                                        <div class="user-block__name">
                                                            {{'ADMIN.USER.EMAIL'|translate}}:
                                                        </div>
                                                        <div class="user-block__value">
                                                            {{user.email}}
                                                        </div>
                                                    </div>

                                                    <div class="user-block__info">
                                                        <div class="user-block__name">
                                                            {{'ADMIN.USER.REFERRAL_ID'|translate}}:
                                                        </div>
                                                        <div class="user-block__value">
                                                            {{user.referralId}}
                                                        </div>
                                                    </div>

                                                    <div class="user-block__info">
                                                        <div class="user-block__name">
                                                            {{'ADMIN.USER.USERNAME'|translate}}:
                                                        </div>
                                                        <div class="user-block__value">
                                                            {{user.username}}
                                                        </div>
                                                    </div>

                                                    <div class="user-block__info">
                                                        <div class="user-block__name">
                                                            {{'ADMIN.USER.NAME'|translate}}:
                                                        </div>
                                                        <div class="user-block__value">
                                                            {{user.name}}
                                                        </div>
                                                    </div>

                                                    <div class="user-block__info">
                                                        <div class="user-block__name">
                                                            {{'ADMIN.USER.SURNAME'|translate}}:
                                                        </div>
                                                        <div class="user-block__value">
                                                            {{user.surname}}
                                                        </div>
                                                    </div>

                                                    <div class="user-block__info">
                                                        <div class="user-block__name">
                                                            {{'ADMIN.USER.CONTACT_NUMBER'|translate}}:
                                                        </div>
                                                        <div class="user-block__value">
                                                            {{user.contactNumber}}
                                                        </div>
                                                    </div>

                                                    <div class="user-block__info">
                                                        <div class="user-block__name">
                                                            {{'ADMIN.USER.CONTACT_NUMBER2'|translate}}:
                                                        </div>
                                                        <div class="user-block__value">
                                                            {{user.contactNumber2}}
                                                        </div>
                                                    </div>

                                                    <div class="user-block__info">
                                                        <div class="user-block__name">
                                                            {{'ADMIN.USER.GENDER'|translate}}:
                                                        </div>
                                                        <div class="user-block__value">
                                                            {{(user.man ? 'USER_DETAILS.GENDER_MAN' : 'USER_DETAILS.GENDER_WOMAN')|translate}}
                                                        </div>
                                                    </div>

                                                    <div class="user-block__info">
                                                        <div class="user-block__name">
                                                            {{'ADMIN.USER.BIRTHDAY_DATE'|translate}}:
                                                        </div>
                                                        <div class="user-block__value">
                                                            {{user.birthdayDate}}
                                                        </div>
                                                    </div>

                                                    <div class="user-block__info">
                                                        <div class="user-block__name">
                                                            {{'ADMIN.USER.PASSPORT_ID'|translate}}:
                                                        </div>
                                                        <div class="user-block__value">
                                                            {{user.passportId}}
                                                        </div>
                                                    </div>

                                                    <div class="user-block__info">
                                                        <div class="user-block__name">
                                                            {{'ADMIN.USER.ADDRESS'|translate}}:
                                                        </div>
                                                        <div class="user-block__value">
                                                            {{user.address}}
                                                        </div>
                                                    </div>

                                                    <div class="user-block__info">
                                                        <div class="user-block__name">
                                                            {{'ADMIN.USER.CITY'|translate}}:
                                                        </div>
                                                        <div class="user-block__value">
                                                            {{user.city}}
                                                        </div>
                                                    </div>

                                                    <div class="user-block__info">
                                                        <div class="user-block__name">
                                                            {{'ADMIN.USER.COUNTRY'|translate}}:
                                                        </div>
                                                        <div class="user-block__value">
                                                            {{user.country}}
                                                        </div>
                                                    </div>

                                                    <div class="user-block__info">
                                                        <div class="user-block__name">
                                                            {{'ADMIN.USER.PARENT_EMAIL'|translate}}:
                                                        </div>
                                                        <div class="user-block__value">
                                                            {{user.parentEmail}}
                                                        </div>
                                                    </div>

                                                    <div class="user-block__info">
                                                        <div class="user-block__name">
                                                            {{'ADMIN.USER.ROLE_NAME'|translate}}:
                                                        </div>
                                                        <div class="user-block__value">
                                                            {{user.roleName}}
                                                        </div>
                                                    </div>

                                                    <div class="user-block__info">
                                                        <div class="user-block__name">
                                                            {{'ADMIN.USER.DATE_CREATED'|translate}}:
                                                        </div>
                                                        <div class="user-block__value">
                                                            {{user.dateCreated}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="pagination">
                                            <pagination-controls (pageChange)="usersPage = $event"
                                                previousLabel="{{'PAGINATION.PREVIOUS_PAGE'|translate}}"
                                                nextLabel="{{'PAGINATION.NEXT_PAGE'|translate}}"></pagination-controls>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="admin__news" *ngIf="showNews">
                            <div class="admin__new-post content-block">
                                <div class="content-block__name">{{'ADMIN.NEWS.ADD'|translate}}</div>

                                <div class="content-block__content">
                                    <label class="input-field">
                                        <span class="input-field__label">{{'ADMIN.NEWS.SUBJECT'|translate}}</span>
                                        <input type="text" [(ngModel)]="news.subject"/>
                                    </label>

                                    <label class="input-field">
                                        <span class="input-field__label">{{'ADMIN.NEWS.MESSAGE'|translate}}</span>
                                        <textarea name="news-message" [(ngModel)]="news.message"></textarea>
                                    </label>

                                    <div class="buttons-container">
                                        <button
                                            (click)="postNews()"
                                            data-css-type="large"
                                        >{{'ADMIN.NEWS.POST'|translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="content-block" [hidden]="newsList.length === 0">
                                <div class="content-block__name">{{'ADMIN.NEWS.POSTED'|translate}}</div>

                                <div class="content-block__content">
                                    <div class="admin__posted-news posted-articles">
                                        <div class="posted-articles__article"
                                            *ngFor="let news of newsList | paginate: { itemsPerPage: 6, currentPage: newsPage }"
                                        >
                                            <div class="posted-articles__field subject">{{news.subject}}</div>
                                            <div class="posted-articles__field date">{{news.dateCreated}}</div>
                                            <p class="posted-articles__field message">{{news.message}}</p>

                                            <div class="buttons-container" data-css-offset="small">
                                                <button
                                                    id='{{newsIdPrefix + news.id}}'
                                                    (click)="deleteNews($event)"
                                                    data-css-type="support"
                                                    data-css-color="red"
                                                >{{'ADMIN.NEWS.DELETE'|translate}}
                                                </button>
                                            </div>
                                        </div>

                                        <div class="pagination">
                                            <pagination-controls (pageChange)="newsPage = $event"
                                                previousLabel="{{'PAGINATION.PREVIOUS_PAGE'|translate}}"
                                                nextLabel="{{'PAGINATION.NEXT_PAGE'|translate}}"></pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="admin__settings" *ngIf="showSettings">
                            <!-- Deposit Percent -->
                            <div class="content-block">
                                <div class="content-block__content">
                                    <label class="input-field">
                                        <span class="input-field__label">{{'ADMIN.SETTINGS.DEPOSIT_PERCENT'|translate}}:</span>
                                        <input type="number" [(ngModel)]="adminSettings.dailyDepositPercents"/>
                                    </label>

                                    <div class="buttons-container">
                                        <button
                                            (click)="saveSettings()"
                                            data-css-type="large"
                                        >{{'ADMIN.SETTINGS.SAVE'|translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- Change Password -->
                            <div class="content-block">
                                <div class="content-block__name">
                                    {{'USER_DETAILS.CHANGE_PASSWORD'|translate}}
                                </div>

                                <div class="content-block__content">
                                    <div>
                                        <label class="input-field">
                                            <span class="input-field__label">{{'USER_DETAILS.OLD_PASSWORD'|translate}}</span>
                                            <input type="text" class="password" [(ngModel)]="oldPassword"/>
                                        </label>

                                        <label class="input-field">
                                            <span class="input-field__label">{{'USER_DETAILS.OLD_PASSWORD2'|translate}}</span>
                                            <input type="text" class="password" [(ngModel)]="confirmOldPassword"/>
                                        </label>

                                        <label class="input-field">
                                            <span class="input-field__label">{{'USER_DETAILS.NEW_PASSWORD'|translate}}</span>
                                            <input type="text" class="password" [(ngModel)]="newPassword"/>
                                        </label>

                                        <div class="buttons-container">
                                            <button (click)="changePassword()"
                                                data-css-type="large">{{'USER_DETAILS.CHANGE_PASSWORD'|translate}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
