<div id="wrapper" data-wrapper>
    <app-header></app-header>

    <div data-content>
        <div class="news">
            <div class="container">
                <article class="row">
                    <section class="col-md-6"
                             *ngFor="let news of newsList | paginate: { itemsPerPage: 4, currentPage: pageNumber }"
                    >
                        <div class="newslist">
                        <div class="card">
                            <div class="news__article-head">
                                <div class="news__article-title">{{news.subject}}</div>
                                <div class="news__article-date">{{news.dateCreated}}</div>
                            </div>

                            <div class="news__article-content">
                                <p>{{news.message}}</p>



                            </div>
                        </div>
                        </div>
                    </section>
                </article>

                <div class="pagination">
                    <pagination-controls
                        (pageChange)="pageNumber = $event"
                        previousLabel="{{'PAGINATION.PREVIOUS_PAGE'|translate}}"
                        nextLabel="{{'PAGINATION.NEXT_PAGE'|translate}}"
                    ></pagination-controls>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>
