<div class="marquee">
    <div class="marquee-data">
        <div class="marquee-data-text" *ngFor="let currencies of newsList">
            <div class="marquee-data-text-currency">{{currencies.fromSymbol}}/{{currencies.toSymbol}}</div>
            <div class="marquee-data-text-volume">  {{currencies.volume24h}} &nbsp;</div>
        </div>
    </div>
</div>
