<div class="content-block"
     *ngIf="waitingForPaymentDeposits.length == 0 && waitingDeposits.length == 0"
>
    <div class="content-block__name">{{'DEPOSIT.DEPOSIT_SUM'|translate}}</div>

    <div class="content-block__content">
        <div *ngIf='waitingForPaymentDeposits.length == 0 && waitingDeposits.length == 0'>
            <label class="input-field" data-css-type="inline">
                                        <span class="input-field__label">
                                            {{'DEPOSIT.DEPOSIT_SUM'|translate}}:
                                        </span>
                <span class="input-field__range-slider range-track-bar">
                                            <mat-slider min="1" max="{{maxDepositSum}}"
                                                        [(ngModel)]="sum"
                                                        (change)="calculateCustomDepositTotalSumRange()"
                                            ></mat-slider>
                                        </span>
                <input type="number" [(ngModel)]="sum"
                       (input)="calculateCustomDepositTotalSumRange()"
                       min="0" max="{{maxDepositSum}}"/>
            </label>

            <div class="info-block">
                <div class="info-block__item">
                    <div class="info-block__name">
                        {{'DEPOSIT.MONTHS'|translate}}:
                    </div>
                    <div class="info-block__value">{{months}}</div>
                </div>

                <div class="info-block__item">
                    <div class="info-block__name">
                        {{'DEPOSIT.MIN_CUSTOM_PROFIT'|translate}}:
                    </div>
                    <div class="info-block__value">
                        {{minCustomDepositProfit}}
                    </div>
                </div>

                <div class="info-block__item">
                    <div class="info-block__name">
                        {{'DEPOSIT.MAX_CUSTOM_PROFIT'|translate}}:
                    </div>
                    <div class="info-block__value">
                        {{maxCustomDepositProfit}}
                    </div>
                </div>
            </div>

            <div class="buttons-container">
                <button data-css-type="large"
                        (click)="createCustomDeposit()"
                >{{'DEPOSIT.CREATE'|translate}}</button>
            </div>
        </div>

    </div>
</div>


<div class="content-block"
     *ngIf="waitingDeposits.length != 0 && waitingForPaymentDeposits.length == 0"
>
    <div class="content-block__name">{{'DEPOSIT.WAITING'|translate}}</div>

    <div class="content-block__content">
        <div class="deposits__deposit" *ngFor="let waitingDeposit of waitingDeposits">
            <label class="deposits__input-field input-field">
                <span class="input-field__label">{{'DEPOSIT.NAME'|translate}}:</span>
                <input type="text" [(ngModel)]="depositName"/>
            </label>

            <div class="deposits__input-field input-field" data-css-type="select">
                <span class="input-field__label">{{'DEPOSIT.PAYMENT_METHOD'|translate}}:</span>

                <div class="input-field__select" data-select-type="default">
                    <mat-form-field>
                        <mat-select [(ngModel)]="selectedPaymentMethod">
                            <mat-option *ngFor="let paymentMethod of paymentMethods"
                                        [value]="paymentMethod"
                            >
                                {{paymentMethod}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="deposits__info-block info-block">
                <div class="info-block__item">
                    <div class="info-block__name">
                        {{'DEPOSIT.SUM'|translate}}:
                    </div>
                    <div class="info-block__value">
                        {{waitingDeposit.sum}}
                    </div>
                </div>

                <div class="info-block__item">
                    <div class="info-block__name">
                        {{'DEPOSIT.CURRENCY'|translate}}:
                    </div>
                    <div class="info-block__value">
                        {{waitingDeposit.currency}}
                    </div>
                </div>

                <div class="info-block__item">
                    <div class="info-block__name">
                        {{'DEPOSIT.START_DATE'|translate}}:
                    </div>
                    <div class="info-block__value">
                        {{waitingDeposit.startDate}}
                    </div>
                </div>

                <div class="info-block__item">
                    <div class="info-block__name">
                        {{'DEPOSIT.END_DATE'|translate}}:
                    </div>
                    <div class="info-block__value">
                        {{waitingDeposit.endDate}}
                    </div>
                </div>

                <div class="info-block__item">
                    <div class="info-block__name">
                        {{'DEPOSIT.MONEY_TOTAL'|translate}}:
                    </div>
                    <div class="info-block__value">
                        {{waitingDeposit.moneyTotal}}
                    </div>
                </div>

                <div class="info-block__item">
                    <div class="info-block__name">
                        {{'DEPOSIT.MAX_MONEY_TOTAL'|translate}}:
                    </div>
                    <div class="info-block__value">
                        {{waitingDeposit.moneyTotalMax}}
                    </div>
                </div>

                <div class="info-block__item">
                    <div class="info-block__name">
                        {{'DEPOSIT.MONTHLY_INCOME'|translate}}:
                    </div>
                    <div class="info-block__value">
                        {{waitingDeposit.monthlyIncome}}
                    </div>
                </div>

                <div class="info-block__item">
                    <div class="info-block__name">
                        {{'DEPOSIT.MAX_MONTHLY_INCOME'|translate}}:
                    </div>
                    <div class="info-block__value">
                        {{waitingDeposit.maxMonthlyIncome}}
                    </div>
                </div>
            </div>

            <div class="deposits__buttons">
                <button id='{{confirmPrefix + waitingDeposit.depositId}}'
                        data-css-type="support"
                        (click)="confirmDeposit($event)">{{'DEPOSIT.CONFIRM'|translate}}</button>

                <button id='{{cancelPrefix + waitingDeposit.depositId}}'
                        data-css-type="support"
                        (click)="cancelDeposit($event)">{{'DEPOSIT.CANCEL'|translate}}</button>
            </div>
        </div>
    </div>
</div>

<div class="content-block" *ngIf="waitingForPaymentDeposits.length != 0 && waitingDeposits.length == 0">
    <div class="content-block__name">
        {{'DEPOSIT.WAITING_DEPOSITS'|translate}}
    </div>

    <div class="content-block__content">
        <div class="deposits__important-block">
            <p>{{'DEPOSIT.FOR_PAYMENT_INSTRUCTION'|translate}}</p>
        </div>

        <div class="deposits__deposit"
             *ngFor="let waitingForPaymentDeposit of waitingForPaymentDeposits"
        >
            <div class="deposits__info-block info-block">
                <div class="info-block__item">
                    <div class="info-block__name">
                        {{'DEPOSIT.PAYMENT_METHOD'|translate}}:
                    </div>
                    <div class="info-block__value">
                        {{waitingForPaymentDeposit.paymentMethod}}
                    </div>
                </div>

                <div class="info-block__item">
                    <div class="info-block__name">
                        {{'DEPOSIT.NAME'|translate}}:
                    </div>
                    <div class="info-block__value">
                        {{waitingForPaymentDeposit.depositName}}
                    </div>
                </div>

                <div class="info-block__item">
                    <div class="info-block__name">
                        {{'DEPOSIT.SUM'|translate}}:
                    </div>
                    <div class="info-block__value">
                        {{waitingForPaymentDeposit.sum}}
                    </div>
                </div>

                <div class="info-block__item">
                    <div class="info-block__name">
                        {{'DEPOSIT.CURRENCY'|translate}}:
                    </div>
                    <div class="info-block__value">
                        {{waitingForPaymentDeposit.currency}}
                    </div>
                </div>

                <div class="info-block__item">
                    <div class="info-block__name">
                        {{'DEPOSIT.START_DATE'|translate}}:
                    </div>
                    <div class="info-block__value">
                        {{waitingForPaymentDeposit.startDate}}
                    </div>
                </div>

                <div class="info-block__item">
                    <div class="info-block__name">
                        {{'DEPOSIT.END_DATE'|translate}}:
                    </div>
                    <div class="info-block__value">
                        {{waitingForPaymentDeposit.endDate}}
                    </div>
                </div>

                <div class="info-block__item">
                    <div class="info-block__name">
                        {{'DEPOSIT.MONEY_TOTAL'|translate}}:
                    </div>
                    <div class="info-block__value">
                        {{waitingForPaymentDeposit.moneyTotal}}
                    </div>
                </div>

                <div class="info-block__item">
                    <div class="info-block__name">
                        {{'DEPOSIT.MAX_MONEY_TOTAL'|translate}}:
                    </div>
                    <div class="info-block__value">
                        {{waitingForPaymentDeposit.moneyTotalMax}}
                    </div>
                </div>

                <div class="info-block__item">
                    <div class="info-block__name">
                        {{'DEPOSIT.MONTHLY_INCOME'|translate}}:
                    </div>
                    <div class="info-block__value">
                        {{waitingForPaymentDeposit.monthlyIncome}}
                    </div>
                </div>

                <div class="info-block__item">
                    <div class="info-block__name">
                        {{'DEPOSIT.MAX_MONTHLY_INCOME'|translate}}:
                    </div>
                    <div class="info-block__value">
                        {{waitingForPaymentDeposit.maxMonthlyIncome}}
                    </div>
                </div>
            </div>

            <div class="deposits__buttons">
                <button id='{{cancelPrefix + waitingForPaymentDeposit.depositId}}'
                        (click)="cancelDeposit($event)"
                        data-css-type="support"
                        data-css-color="red"
                > {{'DEPOSIT.CANCEL'|translate}} </button>
            </div>
        </div>

        <div [innerHTML]="paymentForm | sanitizeHtml"></div>
    </div>

</div>
