* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;

  // TODO: fix for popup
  &.cdk-global-scrollblock {
    overflow-y: hidden;
    position: static;
    top: 0 !important;
  }
}

body {
  font-size: 16px;
  font-family: 'Calibri', 'Arial', sans-serif;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  background-image: url('./assets/nanocoin-background.jpg');
}

[data-wrapper] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

[data-content] {
  flex: 1 1 auto;
}

[data-offset~="none"] {
  padding: 0 !important;
  margin: 0 !important;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: $black;
}

.password {
  text-security:disc;
  -webkit-text-security:disc;
  -mox-text-security:disc;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mat-dialog-container {
  background: transparent;
}
