<svg #svg width="100%" height="600px">
  <g [zoomableOf]="svg">
    <g [link]="link" *ngFor="let link of links"></g>
    <g [node]="node" *ngFor="let node of nodes" [team]="team" [draggableNode]="node" [draggableInGraph]="graph"></g>
  </g>
</svg>
