<div class="language-changer" #initLanguageSelect>
    <select hidden>
        <option
            *ngFor="let lang of translate.getLangs()"
            [value]="lang"
            [selected]="lang === currentLang"
        >{{lang}}</option>
    </select>
</div>
