<div id="wrapper" data-wrapper>
    <app-header></app-header>

    <div data-content class="text-container">
        <div class="text-container__wrapper" data-container>
            <div class="text-container__content">
                <p>
                    Ad asperiores autem consequatur consequuntur cupiditate dicta dolorem
                    doloremque, dolores doloribus earum est eveniet ex explicabo illo impedit ipsam iste libero maiores
                    minus modi nam nulla obcaecati optio perspiciatis quod ratione repellat saepe sint sit tempora
                    temporibus tenetur unde voluptate? Accusamus deleniti doloremque dolorum illo illum, ipsum nostrum
                    quaerat sit soluta voluptatibus? Ab aliquam at cumque deleniti exercitationem harum in maxime natus
                    nulla officia optio pariatur perferendis quis saepe, soluta sunt tempora temporibus ut veritatis
                    voluptatum! Aliquam beatae commodi consequatur esse in maiores quasi sequi tenetur? Doloribus
                    eligendi enim eos impedit, incidunt ipsa iusto laudantium minima, molestiae perspiciatis quasi
                    quisquam quo quod sunt unde veniam voluptate! Animi aut cum debitis dolorem et mollitia nobis
                    numquam provident voluptatem.
                </p>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>
