.posted-articles {
  margin: -1rem 0;

  &__article {
    border-bottom: 1px dotted $gray;
    padding: 1rem 0;
  }

  &__field {
    font-size: 1em;
    line-height: 1.2;
    color: $black;

    &.date {
      font-style: italic;
      font-size: .8em;
      text-decoration: underline;
      margin-bottom: .5rem;
    }
  }
}
