.aside-container {
  display: flex;

  &__aside {
    background-color: $gray;
    position: relative;
    margin-top: 5rem;
    margin-bottom: auto;
    padding: 0 0 5rem;
    overflow: hidden;
    width: 25%;
    min-width: 250px;
    flex: 0 0 auto;

    > button {
      &:first-child {
        padding-top: 2rem;
      }
    }
  }

  &__content {
    flex: 1 1 auto;
    padding-left: 3rem;
  }
}
