.content-block {
  position: relative;
  margin: 5rem 0;

  &__name {
    position: absolute;
    padding: .5rem 1.5rem .6rem;
    top: -1px;
    left: 3rem;
    transform: translate(0, -50%);
    z-index: 1;
    background-color: $gray;
    font-size: 1.2em;
    line-height: 1.2;
    color: $white;

    &[data-css-state~="open"] {
      background-color: lighten($success, 20%);
    }

    &[data-css-state~="close"] {
      background-color: lighten($error, 20%);
    }
  }

  &__content {
    border: 1px solid $gray;
    position: relative;
    padding: 3rem;
    background-color: #f1f1f1bf;
    box-shadow: 1px 3px 20px $gray;
    overflow: hidden;

    &[data-css-type~="scroll"] {
      overflow-y: auto;
    }
  }
}
