@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}

@-moz-keyframes scroll {
  0% {
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -moz-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.marquee {
  text-align: center;
  background: $white;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  .marquee-data {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scroll 55s infinite linear normal;
    -moz-animation: scroll 55s infinite linear normal;
    animation: scroll 55s infinite linear normal;

    .marquee-data-text {
      font-style: normal;
      font-family: "Times New Roman", Times, serif;
      font-weight: normal;
      font-size: 1.2em;
      line-height: 1.5;
      display: inline-block;
      .marquee-data-text-currency {
        color: $base-color;
      }
      .marquee-data-text-volume {
        color: $gray;
      }
    }
  }
}
