.deposits {
  &__deposit {
    & + & {
      border-top: 1px dotted $gray;
      padding-top: 1rem;
    }

    &:not(:last-child) {
      padding-bottom: 1rem;
    }
  }

  &__info-block {
    margin-top: 1rem;
  }

  &__important-block {
    border: 1.5px groove $error;
    padding: 1rem;
    margin-bottom: 1.5rem;

    > p {
      font-size: 1.2em;
      line-height: 1.4;
      color: $black;
      border-bottom: 1px dotted $error;
      display: inline;
    }
  }

  &__buttons {
    margin-top: .5rem;

    button + button {
      margin-left: 1rem;
    }

    [data-css-color~="red"] {
      color: $error;
    }
  }
}
