.footer {
  background-color: $gray;
  margin-top: auto;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
  }

  &__logo {
    max-width: 200px;
    margin-bottom: 2rem;
  }

  &__links {
    margin-bottom: 1rem;
  }

  &__link {
    color: $base-color;
    padding: 0 .5rem;
    transition: color .3s;
    text-transform: uppercase;

    &:hover {
      color: $white;
    }
  }

  &__copyright {
    color: $white;
    font-size: .8em;
    line-height: 1;
  }
}
