.header {
  background-color: $gray;

  &__wrapper {
    display: flex;
    color: $white;
  }

  &__logo {
    max-width: 150px;
    display: block;
    padding: 1rem 0;
  }

  &__nav {
    display: flex;
    height: auto;
    margin-left: 2rem;
    a:hover{
      color: $base-color;
    }
  }

  &__link {
    height: auto;
    padding: 7px 1rem 0;
    color: $white;
    text-transform: uppercase;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 6px;
      background-color: $base-color;
      transition: opacity .3s, transform .3s;
      transform: translate(0, 100%);
      opacity: 0;
    }

    &:hover {
      &::before {
        transform: translate(0);
        opacity: 1;
      }
    }

    &.active {
      &::before {
        transform: translate(0);
        opacity: 1;
        transition: opacity 0s, transform 0s;
      }
    }
  }

  &__controllers {
    margin-left: auto;
    height: auto;
    display: flex;
    align-items: center;
  }

  &__logout {
    color: $white;
    font-size: 1.5em;
    padding: 0 1.5rem;
    position: relative;
    transition: color .3s;
    height: 100%;

    &::after {
      content: attr(data-tooltip);
      position: absolute;
      top: 50%;
      right: 100%;
      max-width: 200px;
      background-color: $white;
      border-radius: 2px;
      color: $black;
      padding: .2rem .5rem .4rem;
      font-size: .5em;
      visibility: hidden;
      opacity: 0;
      transform: translate(30px, 0);
      transition: all .3s;
    }

    &:hover {
      color: $base-color;

      &::after {
        visibility: visible;
        opacity: 1;
        transform: translate(0);
        transition: all .3s .5s;
      }
    }
  }

  .mat-select-value {
    color: $white;
  }

  .mat-select-placeholder {
    color: $white;
  }

  .smarty-select {
  }
}
