.info-block {
  & + & {
    margin-top: 1.5rem;
    border-top: 1px dotted $gray;
    padding-top: 1rem;
  }
  
  &__item {
    display: flex;
  }

  &__name {
    color: lighten($black, 30%);
    font-size: 1em;
    line-height: 1.3;
    font-style: italic;
    text-decoration: underline;
    padding-right: .5rem;
  }

  &__value {
    color: $black;
    font-size: 1em;
    line-height: 1.3;
  }

  &[data-css-type="inline"] {
    display: flex;

    .info-block__item + .info-block__item {
      padding-left: 1rem;
    }
  }
  
  &[data-css-type="justify"] {
    .info-block__item {
      display: flex;
      justify-content: space-between;
    }
  }
  
  &.active {
    position: relative;
    background-color: rgba($base-color, .2);
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -15px;
      width: 10px;
      height: 100%;
      border-left: 5px solid $base-color;
      background-color: rgba($base-color, .2);
    }
  }
}
