.login-page {
  &__wrapper {
    display: flex;
    width: 100%;
  }

  &__lang-chooser {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: $black;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    padding: 5rem;
    text-align: center;
    position: relative;

    &.sing-in {
      background: $gray url("./assets/logo-wight.png") no-repeat center;
      background-size: auto 60%;

      &::before {
        content: '';
        position: absolute;
        background-color: rgba($gray, .8);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }

  &__error-message {
    height: 20px;
    color: $error;
    font-size: 1em;
    text-align: left;
    margin-bottom: .5rem;
  }

  &__logo {
    padding: 0 4rem;
    margin-bottom: 1rem;
  }

  &__sing-in {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    transform: translate(-100%, 0);
  }

  &__form {
    width: 100%;
    position: relative;
    z-index: 2;

    &::before {
      content: '';
      display: block;
      background-size: 100%;
      width: 50%;
    }
  }

  &__input-field {
    width: 100%;

    & + & {
      margin-top: 1.5rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
  }

  &__support-buttons {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    button {
      display: block;
      padding: .3rem 0;
    }
  }

  &__button {
    position: relative;
    z-index: 2;
  }
}

// alex.belost@gmail.com
