.news {
  padding-top: 5rem;

  &__articles {
    display: flex;
    flex-wrap: wrap;
    margin: -1.5rem;
  }

  &__article {
    padding: 1.5rem;
    width: 50%;
  }

  &__article-container {
    border: 1px solid $gray;
  }

  &__article-head {
    background-color: $gray;
    border-bottom: 6px solid $base-color;
    padding: 1.5rem 2rem 1.5rem;
  }

  &__article-title {
    font-size: 1.2rem;
    line-height: 1.2;
    color: $white;
  }

  &__article-date {
    font-size: .9em;
    line-height: 1;
    color: $white;
    text-decoration: underline;
    font-style: italic;
  }

  &__article-content {
    padding: 1.5rem 2rem 2rem;
    color: $black;
    background-color: $white;
    p {
      color: currentColor;
      font-size: 1em;
      line-height: 1.4;
    }
  }
}

.newslist{
  padding-top: 25px;
}




