.private-account {
  &__block {
    border: 3px solid $gray;
    position: relative;
    padding: 3rem;
    margin: 5rem 0;
  }

  &__block-title {
    position: absolute;
    padding: .5rem 1.5rem .6rem;
    top: -1px;
    left: 3rem;
    transform: translate(0, -50%);
    z-index: 1;
    background-color: $white;
    border: 3px solid $gray;
    font-size: 1.2em;
    line-height: 1.2;
    color: $black;
  }

  &__details-block {
    & + & {
      margin-top: .8rem;
    }
  }

  &__details-name {
    display: inline-block;
    font-size: 1.1em;
    line-height: 1;
    color: $black;
  }

  &__details-value {
    display: inline-block;
    font-size: 1.1em;
    line-height: 1;
    color: $black;
    font-weight: bold;
  }

  &__input-field {
    display: block;

    & + & {
      margin-top: 1.5rem;
    }
  }

  &__transactions {
    display: flex;
  }

  &__transaction-block {
    width: 50%;
  }

  &__buttons {
    margin-top: 2.5rem;
  }
}
