.sing-in {
  height: 100vh;
  background-color: $gray;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    height: 100%;
    position: relative;
  }

  &__logo {
    max-width: 400px;
    margin-bottom: 5rem;
  }

  &__error-message {
    height: 20px;
    color: $error;
    font-size: 1em;
    text-align: left;
    margin-bottom: .5rem;
    width: 100%;
  }

  &__form {
    width: 100%;
  }

  &__input-field {
    width: 100%;

    & + & {
      margin-top: 1.5rem;
    }
  }

  &__button {
    margin-top: 2.5rem;
  }
}
