.team {
  &__data {
    display: flex;
    margin: 0 -1rem 0;

    > div {
      width: 50%;
      padding: 0 1rem;
    }
  }

  &__content-block {
    max-height: 300px;
  }

  .info-block {
    &:not(:last-child) {
      padding-bottom: 1rem;
    }
  }

  .info-block.bonus-rule:hover {

  }

  .info-block + .info-block {
    border-top: 1px dotted $gray;
    padding-top: 1rem;
  }

  &__search {
    position: relative;

    input:focus + button {
      visibility: visible;
      opacity: 1;
    }
  }

  &__search-button {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(0, -50%);
    margin-top: 1px !important;
    opacity: 0;
    visibility: hidden;

    &:hover {
      color: $base-color;
    }
  }
}

.team-info {
  display: flex;
  margin: 1.5rem 0;

  &__group {
    flex: 1 1 auto;
    padding: 1rem;

    &:nth-child(2n - 1) {
      background-color: rgba($gray, .05);
    }
  }

  &__delimiter {
    width: 9px;
    height: 9px;
    background-color: $base-color;
    margin: -1px .25rem 0 .24rem;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    > button {
      > span {
        display: block;
        transition: transform .3s;
      }

      &.active {
        span {
          transform: translate(0) !important;
        }
      }

      &:hover {
        span.left {
          transform: translate(-10px, 0);
        }

        span.right {
          transform: translate(10px, 0);
        }
      }
    }
  }
}
