.transaction-block {
  &[data-css-size~="full-width"] {
    width: 100%;
  }

  &__title {
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    color: $black;
    border-bottom: 3px solid $gray;
    margin-bottom: 1.5rem;
    position: relative;

    > [data-css-arrow] {
      position: absolute;
      display: block;
      right: -15px;
      top: 50%;
      width: 4px;
      height: 8px;
      background-color: currentColor;

      &::after {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        border-width: 0 4px 4px 0;
        border-style: solid;
        border-color: currentColor;
        right: -3px;
      }
    }

    &[data-css-type~="incoming"] {
      > [data-css-arrow] {
        color: $success;
        transform: translate(0, calc(-50% + 5px));

        &::after {
          transform: rotate(-135deg);
          top: -3px;
        }
      }
    }

    &[data-css-type~="outcoming"] {
      > [data-css-arrow] {
        color: $error;
        transform: translate(0, -50%);

        &::after {
          transform: rotate(45deg);
          bottom: -3px;
        }
      }
    }
  }

  &__list {
    margin: -1rem 0;
  }

  &__container {
    padding: 1rem 0;
    border-bottom: 1px dotted $gray;
  }

  &__field {
    display: flex;
  }

  &__field-name {
    font-size: 1em;
    color: lighten($black, 30%);
    line-height: 1.3;
    font-style: italic;
    white-space: nowrap;
    text-decoration: underline;
    padding-right: .5rem;
  }

  &__field-value {
    font-size: 1em;
    line-height: 1.3;
    color: $black;
  }

  &__controllers {
    margin-top: 1rem;

    button + button {
      margin-left: 1rem;
    }
  }
}
