.user-block {
  &__users {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;
  }

  &__user {
    width: 100%;
    padding: 1rem;
  }

  &__container {
    display: flex;
    border: 1px dotted $gray;
    padding: 1rem;
  }

  &__controllers {
    margin-right: 1rem;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__photo {
    width: 120px;
    background-color: lighten($base-color, 30%);
    border-radius: 50%;
    margin-bottom: 1rem;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 4;

    &::before {
      content: '?';
      position: absolute;
      font-size: 3em;
      margin: auto;
      color: $light-gray;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      content: '';
      display: inline-block;
      width: 1px;
      padding-top: 100%;
    }

    > img {
      width: 120%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 3;
      transform: translate(-50%, -50%);
    }
  }

  &__info {
    display: flex;
  }

  &__name {
    font-size: 1em;
    color: $black;
    line-height: 1.3;
    font-style: italic;
    white-space: nowrap;
    text-decoration: underline;
  }

  &__value {
    padding-left: 4px;
    font-size: 1em;
    line-height: 1.3;
    color: $black;
  }

}
