<div class="content-block__name">{{'USER_DETAILS.BASE_SETTINGS'|translate}}</div>

<div class="content-block__content">
    <label class="user-details__input-field input-field">
        <span class="input-field__label">{{'USER_DETAILS.EMAIL'|translate}}:</span>
        <input value="{{userInfo.email}}" type="text" disabled>
    </label>

    <label class="user-details__input-field input-field">
        <span class="input-field__label">{{'USER_DETAILS.ACCOUNT_ID'|translate}}:</span>
        <input value="{{userInfo.referralId}}" type="text" disabled>
    </label>

    <label class="user-details__input-field input-field">
        <span class="input-field__label">{{'USER_DETAILS.PARENT_EMAIL'|translate}}:</span>
        <input value="{{userInfo.parentEmail}}" type="text" disabled>
    </label>

    <label class="user-details__input-field input-field">
        <span class="input-field__label">{{'USER_DETAILS.USERNAME'|translate}}:</span>
        <input [(ngModel)]="userInfo.username" type="text" disabled>
    </label>

    <label class="user-details__input-field input-field">
        <span class="input-field__label">{{'USER_DETAILS.NAME'|translate}}:</span>
        <input [(ngModel)]="userInfo.name" type="text">
    </label>

    <label class="user-details__input-field input-field">
        <span class="input-field__label">{{'USER_DETAILS.SURNAME'|translate}}:</span>
        <input [(ngModel)]="userInfo.surname" type="text">
    </label>

    <label class="user-details__input-field input-field">
        <span class="input-field__label">{{'USER_DETAILS.CONTACT_NUMBER'|translate}}:</span>
        <input [(ngModel)]="userInfo.contactNumber" type="text">
    </label>

    <label class="user-details__input-field input-field">
        <span class="input-field__label">{{'USER_DETAILS.CONTACT_NUMBER2'|translate}}:</span>
        <input [(ngModel)]="userInfo.contactNumber2" type="text">
    </label>

    <label class="user-details__input-field input-field" data-css-type="select">
        <span class="input-field__label">{{'USER_DETAILS.GENDER'|translate}}:</span>

        <div class="input-field__select">
            <mat-form-field>
                <mat-select [(ngModel)]="gender">
                    <mat-option *ngFor="let gender of genders" [value]="gender">
                        {{ gender }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </label>

    <label class="user-details__input-field input-field" data-css-type="select">
        <span class="input-field__label">{{'USER_DETAILS.BIRTHDAY_DATE'|translate}}:</span>

        <div class="input-field__select" style="width:100%">
            <my-date-picker name="birthdate" [options]="datePickerOptions"
                            [(ngModel)]="birthdateModel" required
            ></my-date-picker>
        </div>
    </label>

    <label class="user-details__input-field input-field">
        <span class="input-field__label">{{'USER_DETAILS.PASSPORT_ID'|translate}}:</span>
        <input [(ngModel)]="userInfo.passportId" type="text">
    </label>

    <label class="user-details__input-field input-field" data-css-type="select">
        <span class="input-field__label">{{'USER_DETAILS.UPLOAD_PASSPORT_SCAN'|translate}}:</span>

        <div class="input-field__select">
            <input type="file" (change)="loadPassportScan($event)" accept=".jpg">
        </div>
    </label>

    <div class="user-details__input-field input-field" data-css-type="select">
        <span class="input-field__label">{{'USER_DETAILS.COUNTRY'|translate}}:</span>

        <div class="input-field__select" data-select-type="default">
            <mat-form-field>
                <mat-select [(ngModel)]="userInfo.country">
                    <mat-option *ngFor="let country of countryService.countries"
                                [value]="country.name"
                    >
                        {{country.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <label class="user-details__input-field input-field">
        <span class="input-field__label">{{'USER_DETAILS.ADDRESS'|translate}}:</span>
        <input [(ngModel)]="userInfo.address" type="text">
    </label>

    <label class="user-details__input-field input-field">
        <span class="input-field__label">{{'USER_DETAILS.CITY'|translate}}:</span>
        <input [(ngModel)]="userInfo.city" type="text">
    </label>

    <div class="user-details__buttons buttons-container">
        <button data-css-type="large"
                (click)="save()"
        >{{'USER_DETAILS.SAVE'|translate}}
        </button>
    </div>
</div>
