<div id="wrapper" data-wrapper>
    <app-header></app-header>


    <div class="team" data-content>
        <div class="team__wrapper" data-container>

            <div class="aside-container">
                <div class="aside-container__aside">
                    <button data-css-type="aside"
                        (click)="graphViewAction()"
                        [attr.data-css-state]="graphViewState ? 'active' : ''"
                    >{{'TEAM.SHOW_GRAPH'|translate}}</button>
                    <button data-css-type="aside"
                        [attr.data-css-state]="partnersViewState ? 'active' : ''"
                        (click)="partnersViewAction()"
                    >{{'TEAM.SHOW_PARTNERS'|translate}}</button>
                    <button data-css-type="aside"
                        [attr.data-css-state]="infoViewState ? 'active' : ''"
                        (click)="infoViewAction()"
                    >{{'TEAM.SHOW_BONUS_RULES'|translate}}</button>
                </div>

                <div class="aside-container__content">
                    <div class="content-block" *ngIf="graphViewState">
                        <!--<div class="content-block__name"></div>-->

                        <div class="content-block__content">
                            <div class="team__info-block">
                                <div class="team__search input-field">
                                    <input type="text"
                                        placeholder="{{'TEAM.FIND_BY_USERNAME'|translate}}"
                                        [(ngModel)]="teamMemberSearchUsername"/>

                                    <button (click)="findTeamMember()"
                                        class="team__search-button ic-search"
                                        data-css-type="icon"
                                    ></button>
                                </div>

                                <div class="team__team-info team-info unselectable">
                                    <div class="team-info__group left">
                                        <div class="info-block" data-css-type="justify">
                                            <div class="info-block__item">
                                                <div class="info-block__name">
                                                    {{'TEAM.LEFT_TEAM_SIZE'|translate}}:
                                                </div>
                                                <div class="info-block__value">
                                                    {{this.nodes.length != 0 ? this.nodes[0]._teamMember.leftTeamSize : ''}}
                                                </div>
                                            </div>

                                            <div class="info-block__item">
                                                <div class="info-block__name">
                                                    {{'TEAM.LEFT_TEAM_TOTAL_TURNOVER'|translate}}:
                                                </div>
                                                <div class="info-block__value">
                                                    {{teamInfo.leftTeamTotalTurnover}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="team-info__group base">
                                        <div class="info-block" data-css-type="justify">
                                            <div class="info-block__item">
                                                <div class="info-block__name">
                                                    {{'TEAM.PERSONAL_DEPOSIT_TOTAL_SUM'|translate}}:
                                                </div>
                                                <div class="info-block__value">
                                                    {{teamInfo.personalDepositTotalSum}}
                                                </div>
                                            </div>

                                            <div class="info-block__item">
                                                <div class="info-block__name">
                                                    {{'TEAM.TOTAL_TURNOVER'|translate}}:
                                                </div>
                                                <div class="info-block__value">
                                                    {{teamInfo.teamTotalTurnover}}
                                                </div>
                                            </div>

                                            <div class="info-block__item">
                                                <div class="info-block__name">
                                                    {{'TEAM.CURRENT_LEVEL'|translate}}:
                                                </div>
                                                <div class="info-block__value">
                                                    {{currentLevel}}
                                                </div>
                                            </div>

                                            <div class="info-block__item">
                                                <div class="info-block__name">
                                                    {{'TEAM.TOTAL_TEAM_SIZE'|translate}}:
                                                </div>
                                                <div class="info-block__value">
                                                    {{this.teamSize}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="team-info__buttons"
                                            *ngIf="nodes.length > amountOfUncontrolledInvitations || nodes.length > amountOfUncontrolledInvitations"
                                        >
                                            <button (click)="leftInvitationSelect()"
                                                [ngClass]="{active: isLeftInvitation}"
                                                *ngIf="nodes.length > amountOfUncontrolledInvitations"
                                                data-css-type="icon"
                                            >
                                                <span class="ic-arrow-left left"></span>
                                            </button>

                                            <span class="team-info__delimiter"></span>

                                            <button (click)="rightInvitationSelect()"
                                                [ngClass]="{active: !isLeftInvitation}"
                                                *ngIf="nodes.length > amountOfUncontrolledInvitations"
                                                data-css-type="icon"
                                            >
                                                <span class="ic-arrow-right right"></span>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="team-info__group right">
                                        <div class="info-block" data-css-type="justify">
                                            <div class="info-block__item">
                                                <div class="info-block__name">
                                                    {{'TEAM.RIGHT_TEAM_SIZE'|translate}}:
                                                </div>
                                                <div class="info-block__value">
                                                    {{this.nodes.length != 0 ? this.nodes[0]._teamMember.rightTeamSize : ''}}
                                                </div>
                                            </div>

                                            <div class="info-block__item">
                                                <div class="info-block__name">
                                                    {{'TEAM.RIGHT_TEAM_TOTAL_TURNOVER'|translate}}:
                                                </div>
                                                <div class="info-block__value">
                                                    {{teamInfo.rightTeamTotalTurnover}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="team__add-member input-field">
                                    <input type="text" [(ngModel)]="invitationEmail"/>
                                    <button (click)="invite()" data-css-type="large"
                                    >{{'TEAM.SEND_INVITATION'|translate}}</button>
                                </div>

                            </div>
                        </div>

                    </div>

                    <app-team-bonus-rules [teamInfo]="teamInfo" class="team__data"
                                          *ngIf="infoViewState"></app-team-bonus-rules>

                    <!-- Team Graph -->
                    <div class="content-block"
                        *ngIf="graphViewState"
                    >
                        <div class="content-block__content" data-offset="none">
                            <graph [team]="this" [nodes]="nodes" [links]="links"></graph>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <app-footer></app-footer>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
