<div id="wrapper" data-wrapper>
    <app-header></app-header>
    <div data-content>
        <div class="private-account">
            <div class="private-account__wrapper" data-container>
                <div class="aside-container">
                    <aside class="aside-container__aside">
                        <button
                            (click)="showTransactionsAction()"
                            data-css-type="aside"
                            [attr.data-css-state]="showTransactions ? 'active' : ''"
                        >{{'ACCOUNT.SHOW_TRANSACTIONS'|translate}}
                        </button>

                        <button
                            (click)="showWithdrawalRequestsAction()"
                            data-css-type="aside"
                            [attr.data-css-state]="showWithdrawalRequests ? 'active' : ''"
                        >{{'ACCOUNT.SHOW_WITHDRAWALS'|translate}}
                        </button>

                        <button
                            (click)="showChangePinAction()"
                            data-css-type="aside"
                            [attr.data-css-state]="showChangePin ? 'active' : ''"
                        >{{'ACCOUNT.SHOW_CHANGE_PIN'|translate}}
                        </button>
                    </aside>

                    <div class="aside-container__content unselectable">
                        <div class="private-account__content-block content-block">
                            <div class="content-block__name">{{'ACCOUNT.ACCOUNT_DETAILS'|translate}}</div>

                            <div class="content-block__content">
                                <div class="private-account__details-block">
                                    <span class="private-account__details-name">
                                        {{'ACCOUNT.ACCOUNT_CURRENCY'|translate}}:
                                    </span>
                                    <span class="private-account__details-value">{{account.currency}}</span>
                                </div>

                                <div class="private-account__details-block">
                                    <span class="private-account__details-name">
                                        {{'ACCOUNT.ACCOUNT_BALANCE'|translate}}:
                                    </span>
                                    <span class="private-account__details-value">{{account.balance}}</span>
                                </div>
                            </div>
                        </div>

                        <app-transaction *ngIf="showTransactions"
                            [hidden]="!showTransactions"
                            [accountComponent]="this"
                        ></app-transaction>

                        <div class="private-account__withdrawals-wrapper" *ngIf="showWithdrawalRequests"
                            [hidden]="!showWithdrawalRequests"
                        >
                            <div class="private-account__content-block content-block">
                                <div class="content-block__name">
                                    {{'ACCOUNT.ASK_FOR_WITHDRAWAL'|translate}}
                                </div>

                                <div class="content-block__content">
                                    <label class="private-account__input-field input-field">
                                        <span class="input-field__label">{{'ACCOUNT.WITHDRAWAL.AMOUNT'|translate}}</span>
                                        <input class="input-alternate" type="number" min="0" max="{{account.balance}}" [(ngModel)]="withdrawal.sum"/>
                                    </label>

                                    <div
                                        class="private-account__input-field input-field"
                                        data-css-type="select"
                                    >
                                    <span class="input-field__label">
                                        {{'ACCOUNT.WITHDRAWAL.PAYMENT_METHOD'|translate}}
                                    </span>

                                        <div class="input-field__select" data-select-type="default">
                                            <mat-form-field>
                                                <mat-select [(ngModel)]="withdrawal.externalAccountType">
                                                    <mat-option *ngFor="let paymentMethod of paymentMethods"
                                                        [value]="paymentMethod"
                                                    >
                                                        {{paymentMethod}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <label class="private-account__input-field input-field">
                                    <span class="input-field__label">
                                        {{'ACCOUNT.WITHDRAWAL.EXTERNAL_ACCOUNT_ID'|translate}}
                                    </span>
                                        <input type="text" [(ngModel)]="withdrawal.externalAccountId"/>
                                    </label>

                                    <label class="private-account__input-field input-field">
                                    <span class="input-field__label">
                                        {{'ACCOUNT.WITHDRAWAL.MESSAGE_TO_OPERATOR'|translate}}
                                    </span>
                                        <textarea name="messageToAdmin" [(ngModel)]="withdrawal.messageToOperator"></textarea>
                                    </label>

                                    <label class="private-account__input-field input-field">
                                    <span class="input-field__label">
                                        {{'ACCOUNT.WITHDRAWAL.PIN_CODE'|translate}}
                                    </span>
                                        <input type="text" class="password" [(ngModel)]="withdrawal.pinCode"/>
                                    </label>

                                    <div class="private-account__buttons">
                                        <button
                                            (click)="withdraw()"
                                            data-css-type="large"
                                        >{{'ACCOUNT.ASK_FOR_WITHDRAWAL'|translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="private-account__content-block content-block"
                                *ngIf="activeWithdrawals.length > 0"
                            >
                                <div class="content-block__name">
                                    {{'ACCOUNT.WITHDRAWAL.ACTIVE_REQUESTS'|translate}}
                                </div>

                                <div class="content-block__content">
                                    <div class="private-account__withdrawal-requests transaction-block">
                                        <div class="transaction-block__list">
                                            <div
                                                class="transaction-block__container"
                                                *ngFor="let activeWithdrawal of activeWithdrawals | paginate: { itemsPerPage: 4, currentPage: activeWithdrawalPage }"
                                            >
                                                <div class="transaction-block__fields">
                                                    <div class="transaction-block__field">
                                                        <div class="transaction-block__field-name">
                                                            {{'ADMIN.WITHDRAWAL.CREATION_DATE'|translate}}:
                                                        </div>
                                                        <div class="transaction-block__field-value">
                                                            {{activeWithdrawal.creationDate}}
                                                        </div>
                                                    </div>

                                                    <div class="transaction-block__field">
                                                        <div class="transaction-block__field-name">
                                                            {{'ADMIN.WITHDRAWAL.SUM'|translate}}:
                                                        </div>
                                                        <div class="transaction-block__field-value">
                                                            {{activeWithdrawal.sum}}
                                                        </div>
                                                    </div>

                                                    <div class="transaction-block__field">
                                                        <div class="transaction-block__field-name">
                                                            {{'ADMIN.WITHDRAWAL.PAYMENT_METHOD'|translate}}:
                                                        </div>
                                                        <div class="transaction-block__field-value">
                                                            {{activeWithdrawal.externalAccountType}}
                                                        </div>
                                                    </div>

                                                    <div class="transaction-block__field">
                                                        <div class="transaction-block__field-name">
                                                            {{'ADMIN.WITHDRAWAL.EXTERNAL_ACCOUNT_ID'|translate}}:
                                                        </div>
                                                        <div class="transaction-block__field-value">
                                                            {{activeWithdrawal.externalAccountId}}
                                                        </div>
                                                    </div>

                                                    <div class="transaction-block__field">
                                                        <div class="transaction-block__field-name">
                                                            {{'ADMIN.WITHDRAWAL.MESSAGE_TO_OPERATOR'|translate}}:
                                                        </div>
                                                        <div class="transaction-block__field-value">
                                                            {{activeWithdrawal.messageToOperator}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <pagination-controls (pageChange)="activeWithdrawalPage = $event"
                                                previousLabel="{{'PAGINATION.PREVIOUS_PAGE'|translate}}"
                                                nextLabel="{{'PAGINATION.NEXT_PAGE'|translate}}"></pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="private-account__content-block content-block"
                            [hidden]="!showChangePin"
                        >
                            <div class="content-block__name">{{'ACCOUNT.UPDATE_PIN'|translate}}</div>

                            <div class="content-block__content">
                                <label class="private-account__input-field input-field">
                                    <span class="input-field__label">{{'ACCOUNT.OLD_PIN'|translate}}</span>
                                    <input type="text" class="password" [(ngModel)]="oldPin"/>
                                </label>

                                <label class="private-account__input-field input-field">
                                    <span class="input-field__label">{{'ACCOUNT.CONFIRM_OLD_PIN'|translate}}</span>
                                    <input type="text" class="password" [(ngModel)]="confirmOldPin"/>
                                </label>

                                <label class="private-account__input-field input-field">
                                    <span class="input-field__label">{{'ACCOUNT.NEW_PIN'|translate}}</span>
                                    <input type="text" class="password" [(ngModel)]="newPin"/>
                                </label>

                                <div class="private-account__buttons">
                                    <button (click)="updatePin()"
                                        data-css-type="large">{{'ACCOUNT.UPDATE_PIN'|translate}}
                                    </button>
                                    <button (click)="resetPin()"
                                        data-css-type="large">{{'ACCOUNT.RESET_PIN'|translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
