<div class="content-block__name">
    {{'USER_DETAILS.CHANGE_AVATAR'|translate}}
</div>

<div class="content-block__content">
    <label class="user-details__input-field input-field">
        <input type="file" (change)="loadAvatar($event)" accept=".jpg">
    </label>
</div>
